.button {
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
    position: center;

  }

.single-button {
    margin: 5px 5px 5px 5px;
}